*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/gradle.properties
buildSrc/build/classes/kotlin/main/Android.class
buildSrc/build/classes/kotlin/main/BuildPlugins.class
buildSrc/build/classes/kotlin/main/Libs.class
buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
buildSrc/build/classes/kotlin/main/TestLibs.class
buildSrc/build/classes/kotlin/main/Versions.class
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/build/kotlin/compileKotlin/build-history.bin
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
